/*=============================================================*/
/* SASS GLOBALES */
*, *:after, *:before {
	@include box-sizing(border-box);
}
*:focus{
	outline: 0 !important;
}
html{
	&.overflowHidden{
		overflow-y: hidden;
	}
}
body, html {
	@include box-sizing(border-box);
	color: $color-black;
	margin: 0;
	border: 0;
	outline: 0;
	font-family: $global-font;
	font-weight: normal;
	font-size: 14px;
	height: auto;
	line-height: 1.2em;
	max-width: 100vw;
	overflow-x: hidden;
}

figure {
	margin: 0;
}
a, a:hover, a:visited {
	color: inherit;
	text-decoration: none !important;
	cursor: pointer;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
	width: 100%;
}
ul{
	margin: 0;
	padding: 0;
	list-style: outside none;
}
body, button, input, optgroup, select, textarea{
	-moz-osx-font-smoothing: auto !important;
}
fieldset{border: none;padding: 0;margin: 0;}

// -------------------------------------------------------------
// Encabezados
h1 {font-size: 30px;}
h2 {font-size: 26px;}
h3 {font-size: 22px;}
h4 {font-size: 18px;}
h5 {font-size: 16px;}

.hidden{display: none !important;}
.show{display: block !important;}
.responsiveContainer, .wrapper{
	margin: 0 auto;
	max-width: 1140px;
	width: 100%;
	@include breakpoint(tablet){
		padding: 0 15px;
	}
}