@charset "utf-8";
/*=============================================================
// VARS
// By Carlos Andres Torres
=============================================================*/
$global-font: 'Roboto', sans-serif;
/*================ Colors ================*/
$color-black: #000000;
$color-white: #fff;
$color-grey: #8e8e8e;
$color-grey-soft: #ececec;
$color-green: #00c4ae;