/*============================================================================
     Globales
==============================================================================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/normalize';
@import 'utils/global';
/*============================================================================
    App styles
==============================================================================*/
main{
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}
.productList{
    &--title{
        text-transform: uppercase;
    }

    &--product{
        border: 1px solid $color-grey-soft;
        border-radius: 10px;
        max-width: 320px;
        margin-bottom: 15px;
        padding: 15px 20px;
        .product-image{
            img{width: 100%;}
        }
        .product-information{
            margin-bottom: 25px;
            padding-bottom: 15px;
            position: relative;
            &::after{
                content: '';
                bottom: 0;
                border-bottom: 1px solid $color-grey-soft;
                position: absolute;
                height: 1px;
                width: 100%;
            }
            .brand{
                color: $color-black;
                font-size: 16px;
                margin: 8px 0;
            }
            .title{
                color: $color-grey;
                font-size: 14px;
                font-weight: 400;
                margin: 8px 0;
            }
            .seller{
                color: $color-grey;
                font-size: 13px;
                span{
                    color: $color-green;
                    display: inline-block;
                    font-weight: 700;
                }
            }
            .whishlist{
                position: absolute;
                right: 0;
                top: 50%;
                @include transform(translateY(-50%));
            }
        }
        .product-sizes{
            .title{
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .sizes-list{
                padding: 15px 0 20px;
                position: relative;
                &::after{
                    content: '';
                    border-radius: 24px;
                    bottom: 0;
                    border-bottom: 3px solid $color-grey;
                    height: 1px;
                    left: 0;
                    position: absolute;
                    width: 90%;
                }
                .item{
                    border-radius: 50%;
                    background-color: $color-grey-soft;
                    color: $color-grey;
                    cursor: pointer;
                    display: inline-block;
                    font-weight: 700;
                    margin: 0px 8px;                
                    padding: 10px;
                    text-align: center;
                    &:first-of-type{
                        margin-left: 0;
                    }
                }
            }
        }
        .product-social{
            margin: 15px 0;
            text-align: center;
            .list-social{
                font-size: 0;
                display: inline-block;
                .social-item{
                    display: inline-block;
                    .social-link{
                        display: block;
                        padding: 10px;
                        img{
                            max-width: 18px;
                        }
                    }
                }
            }
        }
        .product-tabs{
            .title{
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
    }
}